<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
 
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="trade" fileName="logs/trade.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd | HH:mm:ss} | %msg%n"/>
     </File>
     <File name="tradeComparaison" fileName="logs/tradeComparaison.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss}|  %msg%n"/>
     </File>
     <File name="tradeBalance" fileName="logs/tradeBalance.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss}|  %msg%n"/>
     </File>
     <File name="orders" fileName="logs/orders.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss}|[%t]|  %msg%n"/>
     </File>
     <File name="jvm" fileName="logs/jvm.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss}|[%t]|  %msg%n"/>
     </File>
     <File name="panic" fileName="logs/panic.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss}|[%t]|  %msg%n"/>
     </File>
     
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
     <Logger name="trade" level="trace" additivity="false">
        <AppenderRef ref="trade"/>
    </Logger>
    <Logger name="tradeComparaison" level="trace" additivity="false">
        <AppenderRef ref="tradeComparaison"/>
    </Logger>
     <Logger name="tradeBalance" level="trace" additivity="false">
        <AppenderRef ref="tradeBalance"/>
    </Logger>
    <Logger name="orders" level="trace" additivity="false">
        <AppenderRef ref="orders"/>
    </Logger>
    <Logger name="jvm" level="trace" additivity="false">
        <AppenderRef ref="jvm"/>
    </Logger>
     <Logger name="panic" level="trace" additivity="false">
        <AppenderRef ref="panic"/>
    </Logger>
    
    
  </Loggers>
</Configuration>